
<div id="modalForm" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"  class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Заполните форму оценки авто</h4>
                    </div>
                    <div class="modal-body">
                        <form name="application_car" class="form-horizontal"  action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
                              <div class="form-group col-md-6">
                                  <div class="col-md-offset-1">
                                      <label>Имя</label>
                                      {{ form_people.first_name }}
                                  </div>
                              </div>
                              <div class="form-group col-md-6">
                                  <div class="col-md-offset-1">
                                    <label>Номер телефона</label>
                                    {{ form_people.phone }}
                                  </div>
                              </div>
                              <div class="form-group col-md-6">
                                  <div class="col-md-offset-1">
                                      <label>Марка автомобиля</label>
                                      {{ form_car.mark }}
                                  </div>
                              </div>
                              <div class="form-group col-md-6">
                                  <div class="col-md-offset-1">
                                      <label>Модель автомобиля</label>
                                      {{ form_car.model }}
                                  </div>
                              </div>
                              <div class="form-group col-md-6">
                                  <div class="col-md-offset-1">
                                      <label>Год выпуска</label>
                                      {{ form_car.age}}
                                  </div>
                              </div>
                              <div class="form-group col-md-6">
                                  <div class="col-md-offset-1">
                                      <label>Кузов</label>
                                      {{ form_car.body}}
                                  </div>
                              </div>
                              <div class="form-group col-md-6">
                                  <div class="col-md-offset-1">
                                      <label>Двигатель</label>
                                      {{ form_car.fuel}}
                                  </div>
                              </div>
                              <div class="form-group col-md-6">
                                  <div class="col-md-offset-1">
                                      <label>Объем двигателя</label>
                                      {{ form_car.engine}}
                                  </div>
                              </div>
                              <div class="form-group col-md-6">
                                  <div class="col-md-offset-1">
                                      <label>Коробка передач</label>
                                      {{ form_car.gear}}
                                  </div>
                              </div>
                              <div class="form-group col-md-6">
                                  <div class="col-md-offset-1">
                                      <label>Цена BYN</label>
                                      {{ form_car.price}}
                                  </div>
                              </div>
                              <div class="form-group col-md-11">
                                  <div class="col-md-7">
                                      <label>Дополнительная информация</label>
                                      {{ form_application.comment }}
                                  </div>
                                  <div class="col-md-5">
                                      <label>Фото</label>
                                        {{ form_car_media_one.file }}{{ form_car_media_one.file_file }}
                                  </div>
                              </div>
                              <div class="form-group">
                                <div class="modal-footer col-md-12">
                                    <button type="button"  class="btn btn-default" data-dismiss="modal" >Закрыть</button>
                                    <input type="submit" class="btn btn-primary" value="Отправить заявку"/>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>