<!DOCTYPE html>
{% load static%}
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Кабинет администратора</title>
    {% endblock %}

    <link href="{% static 'feedback/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'feedback/css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'feedback/css/jquery.fancybox.min.css' %}" rel="stylesheet">
    <link rel="import" href="forms/form_application_car.html">
    <link href="{% static 'feedback/css/admin_link.css' %}" rel="stylesheet">
    <link href="{% static 'feedback/css/fancybox.css' %}" rel="stylesheet">

</head>
<body>
    <div class="navbar navbar-fixed-top" style="color: black; background-color: rgba(31,99,179,0.62)">
             <div class="container">
                     <div class="navbar-left" >
                         <ul class="nav nav-pills">
                             <li>
                                     <a href="{% url 'cabinet' %}">Заявки
                                        {% if new_application > 0 %}
                                            <span class="badge">{{ new_application }}</span>
                                        {% endif %}
                                     </a>
                             </li>
                            <li><a href="{% url 'cabinet_statistic' %}">Статистика</a></li>
                        </ul>
                     </div>
                     <div class="nav navbar-right" >
                         <ul class="nav nav-pills">
                             <li>
                                 {% include 'feedback/base_admin_menu.html' %}
                             </li>
                         </ul>
                     </div>
             </div>
    </div>
    <div class="container" style="margin-top: 70px">

     {% block content %}
         <div class="container col-md-8 col-md-offset-2" align="center">
                <ul class="list-group-item list-unstyled">
                    {% for application in applications %}
                        <li
                            {% if application.viewed == False %}
                                style="background-color: rgba(121,121,131,0.03)"
                            {% endif %}>
                            <a href="{% url 'one_application' application.id %}">
                                <div class="row">
                                    <div class="col-md-2">
                                        {{ application.get_date }}
                                    </div>
                                    <div class="col-md-10">
                                        {{ application.people.get_phone}}
                                    </div>
                                </div>
                            </a><hr>
                        </li>

                    {% endfor %}
                </ul>
            </div>




         <div class="col-md-12 col-md-offset-4">
             <ul class="pagination pagination-sm">
                {% if max_page > 1%}
                    <li><a href="{% url 'cabinet' %}">&laquo;</a></li>
                         {% for num_page in count_page %}
                                <li
                                     {% if num_page == activ_page %}
                                         class="active"
                                     {% endif %}
                                     >
                                    <a href="{% url 'cabinet_acive_page' num_page %}">
                                        {{ num_page }}
                                    </a>
                                </li>
                         {% endfor %}
                    <li><a href="{% url 'cabinet_acive_page' max_page%}">&raquo;</a></li>

                {% endif %}
             </ul>
         </div>
     {% endblock %}
    </div>
    <script src="{% static 'feedback/jq/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'feedback/jq/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'feedback/jq/jquery-migrate-1.4.1.min.js' %}"></script>
    <script src="{% static 'feedback/js/bootstrap.js' %}"></script>
    <script src="{% static 'feedback/js/npm.js' %}"></script>
    <script src="{% static 'feedback/jq/jquery.maskedinput.js' %}"></script>
    <script src="{% static 'feedback/js/jquery.fancybox.min.js' %}"></script>
</body>
</html>
