{% extends 'feedback/owner/owner_base.html' %}

{% block title %}
    <title>Заявка</title>
{% endblock %}

{% block content %}

    <div class="container col-md-8 col-md-offset-2" align="center">
        <div class="jumbotron text-left" >
            <h4>
                <div class="row">
                    <div class="col-md-6">

                        <strong>{{ application.people.first_name }} : {{ application.people.get_phone }}</strong>

                    </div>
                    <div class="col-md-2 col-md-offset-4">
                        <strong>{{ application.car.price}}<small> BYN</small></strong>
                    </div>

                </div>
            </h4>
            <div class="row">
                <div class="col-md-6">
                   <small>{{ application.get_date }}</small>
                </div>
            </div>
            <hr>
            <div class="container">
                    <div class="row">
                        {% for one_url in media_url %}
                        <div class="col-lg-3 col-md-4 col-6 thumb">
                            <a data-fancybox="gallery" href="{{ MEDIA_URL }}{{ one_url }}">
                                    <img  class="img-thumbnail" src="{{ one_url }}" alt="Фото">
                            </a>
                        </div>
                        {% endfor%}
                    </div>
            </div>
            <div class="row" style="margin-top: 20px" >
                <div class="col-md-6">
                    <dl>
                        <dt>Марка</dt>
                        <dd>{{application.car.mark}}</dd>
                        <dt>Модель</dt>
                        <dd>{{ application.car.model }}</dd>
                        <dt>Год выпуска</dt>
                        <dd>{{application.car.age}}</dd>
                        <dt>Кузов</dt>
                        <dd>{{ application.car.body }}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl>
                        <dt>Топливо</dt>
                        <dd>{{application.car.fuel}}</dd>
                        <dt>Объем двигателя</dt>
                        <dd>{{ application.car.engine}}</dd>
                        <dt>Коробка передач</dt>
                        <dd>{{ application.car.gear}}</dd>
                    </dl>
                </div>
                <div class="col-md-12">
                    <dl>
                        <dt>Комментарий продавца</dt>
                        <dd>{{ application.comment }}</dd>
                    </dl>
                </div>
                <div class="row">
                    <div class="modal-footer col-md-12">
                        <form href="{% url 'one_application' application.id %}" method="post"> {% csrf_token %}
                            <input type="submit" class="btn btn-lg btn-danger"  role="button" value="Удалить" />
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}