<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Выкуп авто</title>
    {% endblock %}

    {% block link %}

    {% endblock %}
    <link href="{% static 'feedback/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'feedback/css/bootstrap-theme.css' %}" rel="stylesheet">
    <link rel="import" href="forms/form_application_car.html">
</head>
<body>
     {% include 'feedback/modal_wind/mod_application.html' %}
     <div class="container">

      <div class="masthead">
        <div class="row" style="margin-top: 10px">
            <div class="col-md-8">
                Здесь логотип
            </div>

            <div class="col-md-2 col-md-offset-1">
                <p style="margin-bottom: 5px; font-size: 16px; color: #000;">
                        <strong> +375 33 637 98 05
                        <br>+375 29 607 40 81
                        </strong>
                </p>
            </div>
            <div class="col-md-1">
                    {% include 'feedback/base_admin_menu.html' %}
            </div>
        </div>
        <ul class="nav nav-justified">
          <li class="active"><a href="{% url 'base' %}">Главная</a></li>
          <li><a href="{% url 'about' %}">О нас</a></li>
          <li><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
      </div><br>

         {% block content %}

          <div class="jumbotron">
            <h1>Срочный выкуп автомобиля в любом состоянии</h1>
            <p class="lead" style="opacity: 0.5">Мы выкупаем автомобили любых марок и моделей различных ценовых категорий в
                том числе битые и неисправные автомобили.
            </p>
            <p align="center"><a class="btn btn-lg btn-success" href="#modalForm"
                                 role="button" data-toggle="modal">Оценить авто</a>
            </p>
          </div>

    </div>

        {% endblock %}
     <div class="row">
         <div class="col-md-12">
             <br>
              <div class="footer" align="center">
                <p>&copy; Liquidator 2018</p>
              </div>
         </div>
     </div>

    </div>

    {% block scripts %}

    {% endblock %}
    <script src="{% static 'feedback/jq/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'feedback/jq/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'feedback/jq/jquery-migrate-1.4.1.min.js' %}"></script>
    <script src="{% static 'feedback/js/bootstrap.js' %}"></script>
    <script src="{% static 'feedback/js/npm.js' %}"></script>
    <script src="{% static 'feedback/jq/jquery.maskedinput.js' %}"></script>

</body>
</html>