{% if user.is_authenticated %}
    <ul class="nav navbar-right">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" >
                {{ user.username }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                    <li><a href="{% url 'cabinet' %}">Кабинет администратора</a></li>
                    <li><a href="{% url 'base' %}">Главная страница</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}" class="glyphicon glyphicon-off">Выход</a></li>
            </ul>
        </li>
    </ul>
{% endif %}


