{% extends 'feedback/base.html' %}

{% block title %}
    <title>Контакты</title>
{% endblock %}

{% block content %}
    <div>
    <h3 class="pane-title">Мы находимся</h3>
    <br/>
    </div>
    <div class="row">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1659.911113957498!2d27.
                 630705156662753!3d53.958942191890365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
                 1!3m3!1m2!1s0x46dbc8ccb819972d%3A0xbf0bb15739cad61c!2z0JvQvtCz0L7QudGB0LrQuNC5INGC0YDQsNC60YIsIDUyIF
                 Bhcmtpbmc!5e0!3m2!1sru!2sby!4v1518348141554"
                  width="100%" height="450" frameborder="0" style="border:0" allowfullscreen>
            </iframe>
        </div>
    </div>


    <div class="panel-pane pane-custom pane-1 col-1-2 col-last"  >

        <h2 class="pane-title">Контакты</h2>
        <div >
            <div class="row">
                <div class="col-md-6">
                    <div class="col-1-2">
                        <p style="margin-bottom: 5px; font-size: 16px; color: #000;">"Liquidator.by"
                        <br>г. Минск
                        <br>ул. Логойский тракт, д. 52
                        <br>Автомобильная стоянка</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <p style="margin-bottom: 5px; font-size: 16px; color: #000;">
                        <strong>Выкуп авто: </strong>
                        <br>
                        <br> Телефон:  +375 33 637 98 05
                        <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;+375 29 607 40 81
                    </p>
                </div>
            </div>
        </div>

    </div>
  </div>

{% endblock %}