<!DOCTYPE html>
{% load static%}
<html lang="en">
    <meta charset="UTF-8">

    <head>


        <link href="{% static 'feedback/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'feedback/css/bootstrap-theme.css' %}" rel="stylesheet">
        <link rel="import" href="forms/form_application_car.html">
        <link href="{% static 'feedback/css/login.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="login-container">
                    <div id="output"></div>
                <div class="avatar"></div>
                    <div class="form-box">
                        <form action="" method="post"> {% csrf_token %}
                            <input name="username" type="text" placeholder="username">
                            <input name="password" type="password" placeholder="password">
                            <button class="btn btn-info btn-block login" type="submit">Login</button>
                        </form>
                    </div>
                </div>
        </div>
        <script src="{% static 'feedback/js/login.js' %}"></script>
        <script src="{% static 'feedback/jq/jquery-3.2.1.js' %}"></script>
        <script src="{% static 'feedback/jq/jquery-3.0.0.min.js' %}"></script>
        <script src="{% static 'feedback/jq/jquery-migrate-1.4.1.min.js' %}"></script>
        <script src="{% static 'feedback/js/bootstrap.js' %}"></script>
        <script src="{% static 'feedback/js/npm.js' %}"></script>
        <script src="{% static 'feedback/jq/jquery.maskedinput.js' %}"></script>
    </body>
</html>